<div class="container animated bounceInRight">
    <div class="row">
        <div class="col s12">
            <div class="card" style="margin-right:120px; margin-left:120px;">
                <div class="card-image">
                    <img src="images/other/fond_INSA.jpg" height="600px">
                    <span class="card-title" style="font-size:250%; font-style:italic;"><strong>A Portfolio to enlight our competences</strong></span>
                </div>
                <div class="card-content">
                    <p>This portfolio aims to regroup all the scholar, professional and personal experiences that participate in validating different competences described in the part <em>Competences</em>.
                        These competences are related to the classes I have been following during my 5th year at INSA Toulouse, in <em>Innovative Smart Systems</em> speciality.
                    <br /><br />
                        The portfolio sorts every experience by the domain it is associated to or by the type of experience (scholar, professional or personal) according to the choice of the reader. 
                        It is also possible to display all the experiences that allowed me to work on a certain domain of competences.
                    <br /><br />
                        Each experiences family (that corresponds to a quite precise domain) will be described by a short abstract and a few tags. The projects, classes, internships, or personal activities I made 
                        in relation with that domain will then be described one by one. Finally will come a short analysis of how these experiences allowed me to achieve (I hope) the competences associated to
                        and the list of all the competences I think I developped thanks to these experiences. 
                    <br /><br />
                        Thanks for reading!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

