<div class="container animated bounceInRight">
    <div class="content-wrapper">
        <div class="margin"></div>
        <div class="content"><br />
            <h3><a id="competences"> Competences</a></h3>

            <div>
                <table>
                    <tr>
                        <th>Name</th>    
                        <th>Year</th>    
                        <th>Duration (h)</th>
                    </tr>
                </table>
            </div><!-- /.table-responsive -->
        </div>
    </div>
</div>