<div class="container animated bounceInRight">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-image">
                    <img src="images/other/fond_INSA.jpg" height="800px">
                    <span class="card-title">A Portfolio to enlight our competences</span>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <!--
                <div class="card-action">
                    <a href="#">External links</a>
                </div>
                -->
                
                <div class="container animated bounceInRight">
                    <div class="pageinfo-bar">
                        <div class="margin"></div>
                        <div class="content">
                            <h1>General Information</h1>
                            <p *ngIf="description">description TODO...................................</p>
                        </div>
                        <div class="margin"></div>
                    </div>
                    <div class="content-wrapper">
                        <div class="margin"></div>
                        <div class="content">
                                
                                <h3><a id="general_contact"> 1. Contact</a></h3>
                                    
                                    <div class="content">
                                        <img src="../images/logos/Logo_INSAToulouse-quadri.png" height="100px" align="right">
                                    </div>
                                    
                                    <p>
                                        <strong>Cécile DUTHOIT</strong><br>
                                        18/06/1994<br>INSA Toulouse - 5th year<em> Innovative Smart Systems</em><br>Permis B<br><br>
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:duthoit@etud.insa-toulouse.fr" target="_blank">duthoit@etud.insa-toulouse.fr</a><br>
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <a href="https://www.linkedin.com/in/c%C3%A9cile-duthoit-92bb9011b" target="_blank"><span class="fa fa-linkedin fa-fw fa-3x">LinkedIn</span></a><br>
                                    </p>
                                
                                <h3><a id="general_cv"> 2. Curriculum Vitae</a></h3>
                                    <button class="btn btn-labeled btn-primary" type="button" style="width:100%;height:5%;font-size:120%;" (click)="DownloadPDF()"><span class="btn-label"></span>Download a PDF version</button>
                                    <br /><br />
                               <!--     <div class="content">
                                        <img src="../annexes/CV_Cecile_Duthoit.png" width="800px">
                                    </div>
                                    -->


                                <h3><a id="general_learning"> 3. Learning Program for 5ISS</a></h3>
                            
                                    <div>
                                        <table>
                                            <tr>
                                                <th>Name</th>    
                                                <th>Year</th>    
                                                <th>Duration (h)</th>
                                            </tr>
                                            <tr>
                                                <td class="subject">Professional Project (PPI : "Projet Professionnel Individualisé")</td>
                                                <td class="year">2016</td>
                                                <td class="duration">10</td>
                                            </tr>
                                            <tr>
                                                <td class="subject">Microcontrollers et Open-Source Hardware (MOSH)</td>
                                                <td class="year">2016</td>
                                                <td class="duration">20</td>
                                            </tr>
                                            <tr>
                                                <td class="subject">Protocols for Connected Objects</td>
                                                <td class="year">2016</td>
                                                <td class="duration">30.5</td>
                                            </tr>
                                            <tr>
                                                <td class="subject">Wireless Communications for Connected Objects</td>
                                                <td class="year">2016</td>
                                                <td class="duration">5</td>
                                            </tr>
                                            <tr>
                                                <td class="subject">Powering for Connected Objects</td>
                                                <td class="year">2016</td>
                                                <td class="duration">5</td>
                                            </tr>
                                            <tr>
                                                <td class="subject">Network Security for Connected Objects</td>
                                                <td class="year">2016</td>
                                                <td class="duration">5</td>
                                            </tr>
                                            <tr>
                                                <td class="subject">Architecture of Services</td>
                                                <td class="year">2016</td>
                                                <td class="duration">31</td>
                                            </tr>
                                            <tr>
                                                <td class="subject">Middleware for Internet of Things</td>
                                                <td class="year">2016</td>
                                                <td class="duration">13.5</td>
                                            </tr>
                                            <tr>
                                                <td class="subject">Adaptability and Cloud</td>
                                                <td class="year">2016</td>
                                                <td class="duration">12</td>
                                            </tr>
                                            <tr>
                                                <td class="subject">Software Engineering</td>
                                                <td class="year">2016</td>
                                                <td class="duration">6.25</td>
                                            </tr>
                                            <tr>
                                                <td class="subject">Integrative Project</td>
                                                <td class="year">2016</td>
                                                <td class="duration">38.5</td>
                                            </tr>
                                            <tr>
                                                <td class="subject">English</td>
                                                <td class="year">2016</td>
                                                <td class="duration">35</td>
                                            </tr>
                                            <tr>
                                                <td class="subject">Innovation / Acceptability / Business Development</td>
                                                <td class="year">2016</td>
                                                <td class="duration">20</td>
                                            </tr>
                                            <tr>
                                                <td class="subject">Creativity / TRIZ Methods</td>
                                                <td class="year">2016</td>
                                                <td class="duration">20.5</td>
                                            </tr>
                                            <tr>
                                                <td class="subject">Team Management</td>
                                                <td class="year">2016</td>
                                                <td class="duration">20</td>
                                            </tr>
                                            <tr>
                                                <td class="subject">APS (Sport)</td>
                                                <td class="year">2016</td>
                                                <td class="duration">25</td>
                                            </tr>
                                        </table>
                                    </div><!-- /.table-responsive --><br />
                                    
                                <h3><a id="others"> 4. Other projects, interships, etc.</a></h3>
                                    
                                    <div>
                                        <table>
                                            <tr>
                                                <th>Name</th>    
                                                <th>Year</th>    
                                                <th>Duration (h)</th>
                                            </tr>
                                            <tr>
                                                <td class="subject"><a href="#evs_internship">Implementation of Video over IP software component - Internship</a></td>
                                                <td class="year">2016</td>
                                                <td class="duration">4 months</td>
                                            </tr>
                                            <tr>
                                                <td class="subject" ><a href="#GSM_interception">Passive Interception on GSM network - Project</a></td>
                                                <td class="year">2015</td>
                                                <td class="duration">35</td>
                                            </tr>
                                            <tr>
                                                <td class="subject"><a href="#GSM_security_process">Security on GSM Network - Analyze</a></td>
                                                <td class="year">2015</td>
                                                <td class="duration">7</td>
                                            </tr>
                                            <tr>
                                                <td class="subject"><a href="#am_radio_receptor">Conception of an AM Radio Receptor - Project</a></td>
                                                <td class="year">2014</td>
                                                <td class="duration">11</td>
                                            </tr>
                                        </table>
                                    </div><!-- /.table-responsive -->

                                <h3><a id="competences"> 5. Competences</a></h3>

                                    <div>
                                        <table>
                                            <tr>
                                                <th>Name</th>    
                                                <th>Year</th>    
                                                <th>Duration (h)</th>
                                            </tr>
                                        </table>
                                    </div><!-- /.table-responsive -->

                        <br /><br /></div>
                        <div class="margin"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
