<style>
h4 {
    font-size: 130%;
    text-align: right;
    margin-right: 30px;
}
</style>

<nav>
    <div class="nav-wrapper grey darken-1">
        <a routerLink="/" class="brand-logo center right">Portfolio</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink='/presentation'>Presentation</a></li>
        <li><a routerLink='/competences'>Competences</a></li>
        <li><a routerLink='/portfolio'>Experiences</a></li>
        </ul>
        <a><h4><br />Cécile Duthoit</h4></a>
    </div>
</nav>