<div class="container">
    <br />
    <br />
    <br />
    
    <div class="row">
        <div class="valign-wrapper">
            <div class="col s4 m2 l1 valign left-align" style="font-size: 140%; color: white;"><strong>Sort By :</strong></div>
            <div *ngFor="let filter of filters;" class="col valign left-align">
                <a  [routerLink]="['/experiences/', filter.name, 'all']"
                    class="btn waves-effect waves-light valign" style="background: #b30000;">
                {{filter.displayName}} 
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab" >
                    <a href [routerLink] = "['/experiences/', filterName, 'all']">All</a>
                </li>
                <li class="tab animated bounceIn"  *ngFor="let category of categories">
                    <a href [routerLink]="['/experiences/', filterName, category]">{{category}}</a>
                </li>
            </ul>
        </div>
        <div class="col s12" *ngFor="let experience of experiences">
            <div *ngIf="isActive(experience)" [@isActive]="isActive(experience)">
                <experience-viewer [experience]="experience"></experience-viewer>
            </div>
        </div>
    </div>
    <br />
</div>