<style>
p {
 font-size: 125%; 
 color: black; 
}

h2 {
 font-size: 275%;
 font-style: italic;
 color: #ff6666;
}
</style>

<div class="container">
    <div class="container;layout-md;card sticky-action animated bounceInUp" style="background-image:url('../../../images/wallpapers/fond3.jpeg');margin-right:130px;margin-left:130px;">
        <div class="panel panel-default" style="margin-top:30px;margin-bottom:30px;margin-right:20px;margin-left:40px;">
            <div class="panel-heading"><br />
                <div class="panel-title" style="font-size: 2em;"><strong>Contact</strong>
                    <img src="../images/logos/iss.png" height="160px" align="right" style="margin-right:50px;"></div>
            </div>
            <div class="panel-body">
                <p>
                    <strong>Cécile DUTHOIT</strong><br>
                    18/06/1994<br>INSA Toulouse - 5th year<em> Innovative Smart Systems</em><br>Permis B<br>
                    <img src="../images/logos/Logo_INSAToulouse-quadri.png" height="80px" align="right" style="margin-right:50px;"><br>
                    <span class="glyphicon glyphicon-envelope"></span><a href="mailto:duthoit@etud.insa-toulouse.fr" target="_blank" style="color: black;"><strong>duthoit@etud.insa-toulouse.fr</strong></a><br>
                    <span class="glyphicon glyphicon-user"></span><a href="https://www.linkedin.com/in/c%C3%A9cile-duthoit-92bb9011b" target="_blank" style="color: black;"><span class="fa fa-linkedin fa-fw fa-3x"><strong>LinkedIn</strong></span></a><br>
                </p>
                <br />
            </div>
        </div>
    </div>
</div>


    


