<!--
<style>
.background {
    background-color: lightgrey;
}

h1 {
 font-size: 420%; 
 color: black; 
}

h2 {
 font-size: 275%;
 font-style: italic;
}

th {
    text-align: center;
}

.subject {
    text-align: left;
    font-weight: bold;
} 

.year, .duration {
    text-align: center;
}

</style>-->

<div container>
    <contact style="margin-top:50px;"></contact>
    <cv></cv>

    <!-- COURSES -->
    <div class="container">
        <div class="container;layout-md;card sticky-action animated bounceInUp" style="background-image:url('../../../images/wallpapers/fond3.jpeg');margin-right:130px;margin-left:130px;">
            <div class="panel panel-default" style="margin-top:30px;margin-bottom:30px;margin-right:20px;margin-left:40px;">
                <div class="panel-heading"><br />
                    <div class="panel-title" style="font-size: 2em;"><strong>Learning Program</strong></div>
                </div><br /><br />
                
                <div class="panel-body" style="font-size: 1em;margin-right:70px;margin-left:70px;">
                    <div class="list-group">
                        <div *ngFor="let course of courses; let i = index" class="list-group-item" style="margin-bottom:-1px;">
                        
                            <div class="list-group-item-text" style="font-size: 1.25em;">
                                <img [src]="'../../../images/icons/' + course.icon + '.png'" height="35px" align="left" style="margin-right:50px;">
                                <strong>{{ course.name }}</strong>
                                <span *ngIf="course.duration != 4">
                                    <a style="font-size: 0.75em; color:black"><em>{{ course.year }} - {{course.duration}} (h)</em></a>
                                </span>
                                <span *ngIf="course.duration == 4">
                                    <a style="font-size: 0.75em; color:black"><em>{{ course.year }} - {{course.duration}} (months)</em></a>
                                </span>
                                <img [src]="'../../../images/icons/' + course.color + '.png'"title="{{course.skillTheme}}" align="right" height="35px">
                            </div><br />
                        </div>
                    </div><br />
                </div>
            </div>
        </div>
    </div>
</div>
   